<ion-view>
  <ion-content>

  <div style="padding: 3%;">

    <div class="selected-container">
      <img class="selected-avatar" src="{{ selectedAvatar.image }}" alt="[image] {{selectedAvatar.name}}" width="100">
    </div>

    <div ng-class="avatar_margin($index)" ng-repeat="avatar in avatars" class="grid-4">
      <label for="{{ avatar.name }}">
        <img src="{{ avatar.image }}" alt="[image] avatar" width="100%">
        <input type="radio" id="{{ avatar.name }}" name="allAvatars" ng-value="avatar" ng-model="$parent.selectedAvatar" >
      </label>
    </div>

    <button ng-class="{ buttonEnabled: selectedAvatar.name !== null}" ng-disable="selectedAvatar.name === null" type="button" class="btn btn-full" ui-sref="main.video">Continue</button>
  </div>


  </ion-content>
</ion-view>
