<ion-view id="login">
	<ion-content>
		<div class="login-container">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Name <i class="asterisk"></i></span>
					<input type="text" placeholder="First Last">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Street # <i class="asterisk"></i></span>
					<input type="text" placeholder="123">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Street Name <i class="asterisk"></i></span>
					<input type="text" placeholder="Adelaide Street">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Unit #</span>
					<input type="text" placeholder="101">
				</label>
			</div>
			<div class="login-footnote"><i class="asterisk"></i> Mandatory</div>
			<button class="button button-block">Continue</button>
		</div>
	</ion-content>
</ion-view>
