<style>
  /*dupilcates*/
  ion-content {
    background-color: #90ccef;
  }
  .btn {
    font-size: 1.2em;
    display: block;
    color: #999;
    border: 2px solid #ccc;
    background-color: #ccc;
    padding: 8px 0;
  }
  .btn-half {
    width: 90%;
    margin: 5%;
  }
  .buttonEnabled {
    color: #fff;
    background-color: #90f500;
    border: 2px solid #fff;
  }
  .buttonEnabled:hover {
    color: #90f500;
    background-color: #fff;
    border: 2px solid #90f500;
  }

  /*new*/
  .video-screen {
    display: block;
    border: 3px solid white;
    width: 260px;
    margin: 20% auto 5%;
  }
  .grid-2 {
    width: 50%;
    display: inline;
    float: left;
  }

  .director-container {
    position: relative;
  }
  .director-img {
    position: absolute;
    left: 20%;
    top: -14px;
  }
  
</style>

<ion-view>
  <ion-content>

    <!-- <video src="videofile.ogg" autoplay poster="posterimage.jpg">
      Sorry, your browser doesn't support embedded videos, 
      but don't worry, you can <a href="videofile.ogg">download it</a>
      and watch it with your favorite video player!
    </video> -->

    <img class="video-screen" ng-repeat="scenario in scenarios" src="{{ scenario }}" alt="[image] possible emergency" width="260" height="175">

    <div class="grid-2">
      <img src="../img/true_checkmark.png" height="50" width="50" alt="[image] checkmark (click for true)">
    </div>

    <div class="grid-2">
      <img src="../img/true_checkmark.png" height="50" width="50" alt="[image] x (click for false)">
    </div>

  </ion-content>
</ion-view>