<ion-view>
  <ion-content>

    <img class="video-screen" ng-src="{{ scenario.src }}" alt="[Image] {{ scenario.alt }}" width="260" height="175">

    <div class="true-false-wrap">
      <div class="grid-2">
        <img class="true-false" src="./img/true_checkmark.png" height="65" width="65" alt="[image] checkmark (click for true)" ng-click="validateAnswer(true)">
      </div>

      <div class="grid-2">
        <img class="true-false" src="./img/false_x.png" height="65" width="65" alt="[image] x (click for false)" ng-click="validateAnswer(false)">
      </div>
    </div>

    <img class="module1-avatar" ng-src="{{ heroImgSrc }}" alt="[image] {{selectedAvatar.name}}" width="120">

    <div style="margin-left: 25px;">
      <div ng-repeat="score in scores" ng-switch on="score.state" style="display: inline-block;
    float: left;">
        <img ng-switch-when='blank' src="./img/score_blank.png" height="60" width="60" alt="">
        <img ng-switch-when='current' src="./img/score_current.png" height="60" width="60" alt="">
        <img ng-switch-when='pass' src="./img/score_pass.png" height="60" width="60" alt="">
        <img ng-switch-when='fail' src="./img/score_fail.png" height="60" width="60" alt="">
      </div>
    </div>

    <audio id="audioClip"/> <!-- Now let's practice -->

  </ion-content>
</ion-view>
