<ion-view>
  <ion-content>

    <!-- <video src="videofile.ogg" autoplay poster="posterimage.jpg">
      Sorry, your browser doesn't support embedded videos, 
      but don't worry, you can <a href="videofile.ogg">download it</a>
      and watch it with your favorite video player!
    </video> -->

    <img class="video-screen" ng-repeat="scenario in scenarios" src="{{ scenario }}" alt="[image] possible emergency" width="260" height="175">

    <div style="    width: 240px;
    display: block;
    margin: 0 auto;">
      <div class="grid-2">
        <img class="true-false" src="./img/true_checkmark.png" height="65" width="65" alt="[image] checkmark (click for true)">
      </div>

      <div class="grid-2">
        <img class="true-false" src="./img/false_x.png" height="65" width="65" alt="[image] x (click for false)">
      </div>
    </div>

    <div style="margin-top: 225px; margin-left: 25px;">
      <div ng-repeat="score in scores" ng-switch on="score.state" style="display: inline-block;
    float: left;">
        <img ng-switch-when='blank' src="./img/score_blank.png" height="60" width="60" alt="">
        <img ng-switch-when='current' src="./img/score_current.png" height="60" width="60" alt="">
        <img ng-switch-when='pass' src="./img/score_pass.png" height="60" width="60" alt="">
        <img ng-switch-when='fail' src="./img/score_fail.png" height="60" width="60" alt="">
    </div>
  </ion-content>
</ion-view>
