<ion-view>
  <ion-content>

    <div class="director-container">
      <img ng-show="clapperboard" ng-click="hideClapperboard()" class="director-img" src="./img/clapperboard.png" height="200" alt="[image] clapperboard">
    </div>

    <!-- <video src="videofile.ogg" autoplay poster="posterimage.jpg">
      Sorry, your browser doesn't support embedded videos, 
      but don't worry, you can <a href="videofile.ogg">download it</a>
      and watch it with your favorite video player!
    </video> -->

    <img class="video-screen" ng-repeat="scenario in scenarios" src="{{ scenario }}" alt="[image] possible emergency" width="260" height="175">

    <div class="grid-2">
      <button type="button" class="btn btn-half buttonEnabled">Rewatch</button>
    </div>

    <div class="grid-2">
      <button ng-class="{ buttonEnabled: clapperboard === false }" ng-disable="clapperboard" type="button" class="btn btn-half" ui-sref="main.module1">Continue</button>
    </div>

    <img src="" alt="">

  </ion-content>
</ion-view>